<html>
<body>

<div align="center">
    <p>Prénom : {{ firstname }}</p>  <br />
    <p>Nom : {{ name }} </p> <br />
    <p>Message :</p> <br />{{ message }} </p> <br />
    <p>Email : {{ email }}  <br />
</div>

</body>

</html>
