<html>
<body>

<div align="center">
    <p>Prénom : {{ securedData.firstname }}</p>  <br />
    <p>Nom : {{ securedData.name }} </p> <br />
    <p>Message :</p> <br />{{ securedData.message }} </p> <br />
    <p>Email : {{ securedData.email }}  <br />
</div>

</body>

</html>