{% extends "base.html.twig" %}

{% block body %}
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Créez votre compte</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>

            <p class="text-center mt-3">Vous avez déjà un compte ? <a href="connexion">Connectez-vous</a></p>

            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <!-- Registration Form -->
                    <form action="inscription" method="post">
                        <!-- Firstname input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="firstname" name="firstname" placeholder="Prénom" required />
                            <label for="firstname">Prénom</label>
                        </div>
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nom" required />
                            <label for="name">Nom</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Veuillez renseigner votre nom</div>
                        </div>
                        <!-- Email input-->
                        <div class="form-floating mb-3">
                            <label for="email">Email</label><br />
                            <input type="email" class="form-control" id="email" name="email" required />
                        </div>
                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <label for="password">Choisissez votre mot de passe</label><br />
                            <input type="password" class="form-control" id="password" name="password" required />
                        </div>
                        <!-- Bio input-->
                        <div class="form-floating mb-3">
                            <label for="content">Biographie</label><br />
                            <textarea class="form-control" id="bio" name="bio"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Veuillez entrer votre contenu.</div>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" type="submit" value="Envoyer">S'inscire</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}