{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello, tu es bien sur la page pour afficher un user</h1>
    {% for item in user %}
        <p>{{ item.firstname }}</p>
        <p>{{ item.name }}</p>
    {% endfor %}
{% endblock %}
